@import "@coreui/coreui/dist/css/coreui.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Varela+Round&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: "VAG Rounded Next";
    src: url(/src/assets/VAG.ttf) format("truetype");
  } */

  html,
  body {
    font-family: "Varela Round", sans-serif;
    @apply w-full h-dvh tracking-wider text-dark;
  }

  #root {
    @apply w-full h-full;
  }
}

@layer components {
  .br {
    @apply border-2 border-dotted border-red-500;
  }

  .field__wrapper {
    @apply flex flex-col items-start gap-y-2 font-bold;
  }

  .field__input {
    @apply border-2 border-dark focus:border-none focus:ring-4;
  }

  .btn__primary {
    @apply w-full grid place-items-center border-2 rounded-lg px-6 py-2 border-zinc-900 shadow-retro__dark uppercase tracking-wider focus:shadow-retro__circle focus:translate-y-1 font-bold hover:opacity-70;
  }

  .full-size {
    @apply min-w-full max-w-full min-h-screen max-h-screen;
  }

  .flex-center {
    @apply flex items-center justify-center text-center;
  }

  .icon--boxed {
    @apply border-2 border-dark p-2 rounded-lg shadow-retro__dark;
  }

  .icon--rounded {
    @apply h-1/3 aspect-square border-2 border-dark rounded-full p-4 bg-yellow shadow-retro__circle;
  }

  .grid-green {
    @apply rounded-2xl border-4 border-green px-6 py-4 shadow-retro__dark flex items-center gap-4;
  }

  .btn__blue {
    @apply font-black border bg-blue shadow-retro__dark border-dark py-2 px-12 rounded-lg;
  }

  .btn__pink {
    @apply shadow-retro__dark font-black bg-pink rounded-xl py-3 mt-8 text-center border-dark border-2 w-[15rem];
  }
}

/* scrollbar */
::-webkit-scrollbar { 
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  background: #FDF7E1;
  border: 2px solid rgb(12, 10, 9);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb {
  background: #FFE04A;
  border: 2px solid rgb(12, 10, 9);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #F196E5;
}
/* scrollbar - up arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  width: 100%;
  aspect-ratio: 1.15;
  border: 2px solid rgb(12, 10, 9);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z'/%3E%3C/svg%3E") center;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  color: #FFE04A; 
}

/* scrollbar - down arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
  width: 100%;
  aspect-ratio: 1.15;
  border: 2px solid rgb(12, 10, 9);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E") center;
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  color: #FFE04A; 
}

/* SPINNER https://cssloaders.github.io/ */
.loader {
  width: 12px;
  height: 12px;
  position: relative;
  left: -32px;
  border-radius: 50%;
  color: #141407;
  background: currentColor;
  box-shadow: 32px 0, -32px 0, 64px 0;
}

.loader::after {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #ff3d00;
  animation: move 3s linear infinite alternate;
}

@keyframes move {
  0%,
  5% {
    left: -32px;
    width: 12px;
  }
  15%,
  20% {
    left: -32px;
    width: 48px;
  }
  30%,
  35% {
    left: 0px;
    width: 12px;
  }
  45%,
  50% {
    left: 0px;
    width: 48px;
  }
  60%,
  65% {
    left: 32px;
    width: 12px;
  }

  75%,
  80% {
    left: 32px;
    width: 48px;
  }
  95%,
  100% {
    left: 64px;
    width: 12px;
  }
}

.overflow {
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #259edf;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
