@import '@coreui/coreui/dist/css/coreui.min.css';
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@font-face {
  font-family: "VAG Rounded Next";
  src: url("../assets/VAG.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: "Nunito", sans-serif;
    @apply w-full h-dvh tracking-wider text-dark ;
  }

  #root {
    @apply w-full h-full;
  }
}

@layer components {
  .br {
    @apply border-2 border-red-500 border-dotted;
  }

  .field__wrapper {
    @apply flex flex-col items-start gap-y-2 font-bold;
  }

  .field__input { 
    @apply border-2 border-dark focus:border-none focus:ring-4;
  }

  .btn__primary {
    @apply w-full grid place-items-center border-2 rounded-lg px-6 py-2 border-zinc-900 shadow-retro__dark uppercase tracking-wider focus:shadow-retro__circle focus:translate-y-1 font-bold hover:opacity-70;
  }

  .full-size{
    @apply min-w-full max-w-full min-h-screen max-h-screen
  }

  .flex-center{
    @apply flex items-center justify-center text-center
  }
 
}